
@{
    ViewData["Title"] = "Signin";
}

<h2>Signin</h2>

@using (Html.BeginForm("PostSignIn", "Home", FormMethod.Post, new { id = "SigninForm" }))
{
    <fieldset>
        <legend>LogIn</legend>
        <div class="row-fluid">
            <div class="col-sm-3">
                <button type="submit" id="btnSubmit" name="btnSubmit" value="WsFederation">WsFederation</button>
            </div>
        </div>        
    </fieldset>
}


